.lw-widget,.lw-widget textarea {
  overflow: auto;
}

.lw-widget,.lw-widget a *,.lw-widget button * {
  pointer-events: none;
}

.lw-overlay,.lw-widget {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.lw-circle,.lw-close_white,.lw-item_white,.lw-item_white .lw-btn,.lw-item_white .lw-content,.lw-item_white .lw-text,.lw-item_white .lw-theme {
  color: #fff;
}

.lw-btn,.lw-opinion,.lw-text_center,.lw-wrap_center {
  text-align: center;
}

.lw-container_app .lw-drop:before,.lw-drop:after,.lw-opinion__group:before,.lw-panel_arrow:after,.lw-slider__dot:before,.lw-subscribe__btn:before,.lw-tooltip:before,.lw-video:before {
  content: '';
}

.lw-burger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7777779;
}

.lw-widget {
  display: none;
  position: fixed;
  min-width: 320px;
  font-size: 18px;
  line-height: 1.3333;
  transition: background .2s .2s;
  z-index: 7777777;
  --theme-color: #F65500;
}

.lw-widget,.lw-widget *,.lw-widget :after,.lw-widget :before {
  box-sizing: border-box;
}

.lw-widget input[type=text],.lw-widget input[type=email],.lw-widget input[type=tel],.lw-widget textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lw-widget button,.lw-widget input[type=submit] {
  margin: 0;
  cursor: pointer;
}

.lw-widget button::-moz-focus-inner,.lw-widget input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.lw-widget a,.lw-widget a:focus,.lw-widget button,.lw-widget div,.lw-widget h1,.lw-widget h2,.lw-widget h3,.lw-widget h4,.lw-widget h5,.lw-widget h6,.lw-widget input,.lw-widget select,.lw-widget span,.lw-widget textarea {
  outline: 0;
}

.lw-widget a {
  text-decoration: none;
}

.lw-widget strong {
  font-weight: 600;
}

.lw-widget [data-lw-ripple] {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.lw-widget.lw-open {
  display: -ms-flexbox;
  display: flex;
}

.lw-widget.lw-animate .lw-overlay,.lw-widget.lw-animate .lw-powered {
  opacity: 1;
}

.lw-widget.lw-animate .lw-powered {
  transition-delay: .2s;
}

.lw-overlay {
  position: fixed;
  background: rgba(77,86,108,.3);
  opacity: 0;
  transition: opacity .4s;
  pointer-events: all;
}

.lw-container {
  width: calc(100% - 30px);
  max-width: 353px;
  margin: auto 15px 15px auto;
  perspective: 100px;
  perspective-origin: 50% 100%;
  pointer-events: all;
}

.lw-container_md {
  max-width: 543px;
}

.lw-container_sm {
  max-width: 256px;
}

.lw-container_top {
  margin-top: 15px;
  margin-bottom: auto;
}

.lw-container_left {
  margin-left: 15px;
  margin-right: auto;
}

.lw-container_center {
  margin: auto;
}

.lw-container_center_bottom {
  max-width: 1112px;
  margin: auto auto 15px;
}

.lw-container_opinion {
  max-width: 346px;
}

.lw-container_tools {
  max-width: 70px;
}

.lw-container_app,.lw-container_circle {
  max-width: 60px;
}

.lw-container_sticky {
  max-width: 100%;
  margin: auto 0 0;
}

.lw-container_sticky.lw-container_top {
  margin: 0 0 auto;
}

.lw-container_sidebar {
  max-width: 290px;
  margin: 0 0 0 auto;
}

.lw-container_app>.lw-item,.lw-container_circle>.lw-item {
  background: 0 0;
}

.lw-container_app>.lw-item {
  border-radius: 10px;
}

.lw-container_app .lw-drop {
  right: 72px;
  bottom: 0;
  z-index: 4;
}

.lw-container_app .lw-drop:before {
  position: absolute;
  right: -20px;
  bottom: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 13px;
  border-color: transparent transparent #fff;
  -ms-transform: rotate(-130deg);
  transform: rotate(-130deg);
  z-index: 1;
}

.lw-container_app .lw-drop:after {
  top: 0;
  left: 100%;
  bottom: 0;
  right: -12px;
  height: auto;
}

.lw-container_app.lw-container_top .lw-drop {
  top: 0;
  bottom: auto;
}

.lw-container_app.lw-container_top .lw-drop:before {
  top: 19px;
  bottom: auto;
  -ms-transform: rotate(-53deg);
  transform: rotate(-53deg);
}

.lw-container_app.lw-container_left .lw-drop {
  left: 72px;
  right: auto;
}

.lw-container_app.lw-container_left .lw-drop:before {
  left: -20px;
  right: auto;
  bottom: 18px;
  -ms-transform: rotate(-233deg);
  transform: rotate(-233deg);
}

.lw-container_app.lw-container_left .lw-drop:after {
  left: -12px;
  right: 100%;
}

.lw-container_app .lw-btn {
  position: relative;
  z-index: 2;
}

.lw-container_circle>.lw-item {
  border-radius: 50%;
}

.lw-container_sidebar .lw-item,.lw-container_sticky .lw-item {
  border-radius: 0;
}

.lw-container_sticky .lw-close {
  top: calc(50% - 36px);
  right: 0;
  width: 72px;
  height: 72px;
}

.lw-container_sidebar .lw-item {
  height: 100vh;
  transform: translate3d(100%,0,0);
  overflow: auto;
}

.lw-container_sidebar .lw-item.lw-animate {
  animation: lw-sidebar .4s ease-out forwards;
}

.lw-container_sidebar .lw-item.lw-animate-reverse {
  animation: lw-sidebar .4s ease-out forwards alternate-reverse;
}

.lw-item {
  position: relative;
  background: #fff;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
  border-radius: 6px;
  opacity: 0;
  transform: translate3d(0,0,-100px);
}

.lw-close,.lw-drop,.lw-drop:after,.lw-ripple {
  position: absolute;
}

.lw-item_bg {
  background: #F9F9F9;
}

.lw-item_border {
  border-top: 3px solid var(--theme-color);
  border-radius: 3px 3px 6px 6px;
}

.lw-item_shadow_1 {
  box-shadow: 0 4px 24px 0 rgba(37,38,94,.1);
}

.lw-item_shadow_2 {
  box-shadow: 0 4px 15px 0 rgba(47,46,53,.15),0 1px 2px 0 rgba(47,46,53,.01),0 2px 3px 1px rgba(47,46,53,.05);
}

.lw-item_shadow_3 {
  box-shadow: 0 0 1px 0 rgba(71,75,86,.31),0 20px 32px 0 rgba(71,75,86,.15);
}

.lw-item_shadow_4 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),0 2px 10px 0 rgba(0,0,0,.14),0 10px 26px 0 rgba(47,46,53,.3);
}

.lw-item_no_shadow {
  box-shadow: none;
}

.lw-item+.lw-item {
  margin-top: 20px;
}

.lw-item.lw-animate {
  animation: lw-bounce .4s ease-out forwards;
}

.lw-item.lw-animate-reverse {
  animation: lw-bounce .4s ease-out forwards alternate-reverse;
}

.lw-item.lw-visible {
  opacity: 1;
  animation: none;
  -ms-transform: none;
  transform: none;
}

.lw-item:hover .lw-close {
  opacity: .7;
}

.lw-item:hover .lw-close:hover {
  opacity: 1;
}

.lw-item:hover .lw-drop_hover {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.lw-drop {
  right: 0;
  bottom: calc(100% + 20px);
  width: calc(100vw - 30px);
  max-width: 353px;
  visibility: hidden;
  opacity: 0;
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  transition: opacity .2s,visibility .2s,transform .4s;
}

.lw-drop:after {
  top: 100%;
  left: 0;
  right: 0;
  height: 22px;
  z-index: 2;
}

.lw-drop.lw-visible {
  visibility: visible;
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.lw-drop .lw-item {
  opacity: 1;
  -ms-transform: none;
  transform: none;
  animation: none;
}

.lw-close {
  top: 0;
  right: 0;
  background: 0 0;
  border: none;
  padding: 5px;
  font-size: 0;
  opacity: 0;
  transition: opacity .2s;
  z-index: 10;
}

.lw-close i {
  font-size: 18px;
}

.lw-close_lg {
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.lw-close_lg i {
  font-size: 32px;
}

.lw-close.visible {
  opacity: .7;
}

.lw-close.visible:hover {
  opacity: 1;
}

.lw-wrap {
  padding: 20px;
}

.lw-wrap_p {
  padding: 30px 20px;
}

.lw-wrap_pb {
  padding: 30px 20px 40px;
}

.lw-wrap_pt {
  padding: 35px 20px 30px;
}

.lw-wrap_pob {
  padding-bottom: 40px;
}

.lw-wrap_psm {
  padding: 15px 20px;
}

.lw-wrap_white {
  background: #fff;
}

.lw-wrap_tutorial {
  height: 100%;
  padding: 35px 30px;
}

.lw-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--theme-color);
  border: none;
  font-size: 0;
}

.lw-category,.lw-title_color {
  color: var(--theme-color);
}

.lw-circle i {
  font-size: 30px;
}

.lw-pic {
  display: block;
  width: 100%;
}

.lw-preview__pic {
  border-radius: 6px 6px 0 0;
}

.lw-category {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

.lw-title {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.20833;
}

.lw-title_md {
  font-size: 22px;
}

.lw-title_lg {
  font-size: 30px;
  line-height: 1.1;
}

.lw-theme {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.lw-content {
  font-size: 18px;
  color: rgba(47,46,53,.7);
  line-height: 1.33333;
}

.lw-content figure,.lw-content p {
  margin: 0;
}

.lw-content figure+figure,.lw-content figure+p,.lw-content p+figure,.lw-content p+p {
  margin: 20px 0 0;
}

.lw-content img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.lw-content a {
  border-bottom: 1px solid;
  color: rgba(47,46,53,.7);
  transition: border-color .2s;
}

.lw-content a:hover {
  border-color: transparent;
}

.lw-content_dark,.lw-content_dark a {
  color: #2F2E35;
}

.lw-text {
  font-size: 16px;
  color: rgba(47,46,53,.7);
  line-height: 1.25;
}

.lw-text a {
  font-weight: 600;
  color: var(--theme-color);
}

.lw-btn {
  display: inline-block;
  padding: 18px 20px;
  background: 0 0;
  border: none;
  font-size: 18px;
  color: rgba(47,46,53,.7);
  line-height: 1.33333;
  transition: background .2s,opacity .2s;
}

.lw-foot,.lw-head {
  display: -ms-flexbox;
}

.lw-btn:hover {
  background: rgba(0,0,0,.07);
}

.lw-btn_bg,.lw-btn_bg:hover {
  background: var(--theme-color);
}

.lw-btn_sm {
  padding: 11px 20px;
}

.lw-btn_sm.lw-btn_simple {
  padding: 12px 20px;
}

.lw-btn_md {
  padding: 13px 20px;
}

.lw-btn_bg {
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}

.lw-btn_bg:hover {
  opacity: .8;
}

.lw-btn_simple {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

.lw-btn_color {
  font-weight: 600;
  color: var(--theme-color);
}

.lw-btn_bold {
  font-weight: 600;
  color: #2F2E35;
}

.lw-head__company,.lw-logo__title,.lw-opinion__rate,.lw-theme__title,.lw-video__title {
  font-weight: 700;
}

.lw-ripple {
  border-radius: 50%;
  opacity: 0;
  background: rgba(0,0,0,.1);
  -ms-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  animation: lw-ripple .5s ease-out forwards;
  pointer-events: none;
}

.lw-head {
  display: flex;
  margin-bottom: 41px;
  -ms-flex-align: center;
  align-items: center;
}

.lw-head__logo {
  margin-right: 10px;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.lw-head__time {
  margin-left: auto;
  padding-left: 20px;
  color: rgba(47,46,53,.7);
  white-space: nowrap;
}

.lw-foot {
  display: flex;
  border-top: 1px solid rgba(0,0,0,.06);
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lw-foot__text {
  padding: 15px 20px;
}

.lw-foot .lw-btn:first-child {
  border-radius: 0 0 0 6px;
}

.lw-foot .lw-btn:last-child {
  border-radius: 0 0 6px;
}

.lw-foot .lw-btn:only-child {
  border-radius: 0 0 6px 6px;
}

.lw-foot_flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lw-foot_flex .lw-btn {
  border: 0 solid rgba(0,0,0,.06);
  -ms-flex: 1;
  flex: 1;
}

.lw-foot_flex .lw-btn:not(:last-child) {
  border-width: 0 1px 0 0;
}

.lw-theme {
  color: #2F2E35;
}

.lw-theme__title {
  margin-bottom: 1px;
  font-size: 20px;
  line-height: 1.2;
}

.lw-theme__text {
  color: rgba(47,46,53,.7);
}

.lw-theme_white,.lw-theme_white .lw-theme__text,.lw-video {
  color: #fff;
}

.lw-share {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lw-share__btn {
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  border: none;
  transition: background .2s;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.lw-share__btn_facebook {
  background: #4F69A2;
}

.lw-share__btn_facebook:hover {
  background: #475e91;
}

.lw-share__btn_twitter {
  background: #66B4EF;
}

.lw-share__btn_twitter:hover {
  background: #4fa9ed;
}

.lw-share__btn_google {
  background: #E05546;
}

.lw-share__btn_google:hover {
  background: #dc4130;
}

.lw-share__btn_pinterest {
  background: #D1383F;
}

.lw-share__btn_pinterest:hover {
  background: #c32d34;
}

.lw-share__btn .lw-icon {
  fill: #fff;
}

.lw-share__btn .lw-icon-facebook {
  font-size: 28px;
}

.lw-share__btn .lw-icon-twitter {
  font-size: 26px;
}

.lw-share__btn .lw-icon-google {
  font-size: 25px;
}

.lw-share__btn .lw-icon-pinterest {
  font-size: 30px;
}

.lw-video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.lw-logo__title,.lw-opinion__radio:checked+.lw-opinion__group {
  color: var(--theme-color);
}

.lw-video:before {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 14px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj4gIDxwYXRoIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIwLDQwIEM4Ljk1NDMwNSw0MCAwLDMxLjA0NTY5NSAwLDIwIEMwLDguOTU0MzA1IDguOTU0MzA1LDAgMjAsMCBDMzEuMDQ1Njk1LDAgNDAsOC45NTQzMDUgNDAsMjAgQzQwLDMxLjA0NTY5NSAzMS4wNDU2OTUsNDAgMjAsNDAgWiBNMTYsMjguNTE4OTYyMyBDMTYsMjguNjE4ODE0OSAxNi4wMjk2NjA0LDI4LjcxNjQxNzMgMTYuMDg1MjE4MSwyOC43OTkzODY1IEMxNi4yNDAwOTIyLDI5LjAzMDY3MzMgMTYuNTUzMTM3NCwyOS4wOTI2MTgxIDE2Ljc4NDQyNDIsMjguOTM3NzQ0MSBMMjguNzU5ODY3OCwyMC45MTg3NjEzIEMyOC44MTQ1ODI1LDIwLjg4MjEyMzMgMjguODYxNTg3NCwyMC44MzUxMTg0IDI4Ljg5ODIyNTQsMjAuNzgwNDAzNyBDMjkuMDUzMDk5NCwyMC41NDkxMTY5IDI4Ljk5MTE1NDYsMjAuMjM2MDcxNiAyOC43NTk4Njc4LDIwLjA4MTE5NzYgTDE2Ljc4NDQyNDIsMTIuMDYyMjE0OCBDMTYuNzAxNDU1LDEyLjAwNjY1NzEgMTYuNjAzODUyNiwxMS45NzY5OTY3IDE2LjUwNCwxMS45NzY5OTY3IEMxNi4yMjU2NDg1LDExLjk3Njk5NjcgMTYsMTIuMjAyNjQ1MiAxNiwxMi40ODA5OTY3IEwxNiwyOC41MTg5NjIzIFoiLz48L3N2Zz4=);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.lw-video__wrap {
  font-size: 16px;
  line-height: 1.3125;
}

.lw-logo {
  position: relative;
  top: -65px;
  margin-bottom: -35px;
}

.lw-logo__preview {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.lw-logo__title {
  margin-top: 12px;
  font-size: 14px;
  text-transform: uppercase;
}

.lw-logo__content {
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.lw-logo_left {
  display: -ms-flexbox;
  display: flex;
  top: 0;
  margin: 0;
}

.lw-logo_left .lw-logo__preview {
  margin: 0 20px 0 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
}

.lw-logo_app {
  top: 0;
  margin: 0;
}

.lw-logo_app .lw-logo__preview {
  width: 60px;
  height: 60px;
  margin: 0;
}

.lw-slider {
  position: relative;
  padding: 0 10px;
  z-index: 4;
}

.lw-slider__slide {
  display: none;
}

.lw-slider__slide.lw-visible {
  display: block;
}

.lw-slider__dots {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: 80px;
  margin-top: -13px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.lw-slider__dot {
  padding: 3px;
  background: 0 0;
  border: none;
}

.lw-slider__dot.lw-active:before {
  background: var(--theme-color);
}

.lw-slider__dot:before {
  display: block;
  width: 7px;
  height: 7px;
  background: rgba(0,0,0,.15);
  border-radius: 50%;
}

.lw-opinion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lw-opinion__vote {
  position: relative;
  border: solid #EAEAEA;
  border-width: 1px 1px 1px 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.lw-opinion__vote:first-child {
  border-width: 1px;
  border-radius: 0 0 0 5px;
}

.lw-opinion__vote:last-child {
  border-radius: 0 0 5px;
}

.lw-opinion__radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.lw-opinion__radio:checked+.lw-opinion__group:before {
  opacity: 1;
}

.lw-opinion__group {
  display: -ms-flexbox;
  display: flex;
  padding: 16px 3px 3px;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: color .2s;
  line-height: 24px;
}

.lw-opinion__group:before {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
  background: var(--theme-color);
  opacity: 0;
  transition: opacity .2s;
}

.lw-opinion__smile {
  margin-bottom: 3px;
  font-size: 30px;
}

.lw-opinion__rate {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .3px;
}

.lw-choose__group {
  border-radius: 3px;
  background: #fff;
}

.lw-choose__group+.lw-choose__group {
  margin-top: 12px;
}

.lw-choose .lw-btn {
  display: block;
  width: 100%;
  padding: 13px 15px;
  box-shadow: 0 2px 3px 0 rgba(37,39,44,.05),0 1px 3px 0 rgba(37,39,44,.06);
  color: rgba(47,46,53,.7);
  text-align: left;
}

.lw-field_custom .lw-field__input,.lw-subscribe {
  box-shadow: 0 3px 5px 0 rgba(37,39,44,.05),0 1px 3px 0 rgba(37,39,44,.06);
}

.lw-choose .lw-btn:first-child {
  border-radius: 4px 4px 0 0;
}

.lw-choose .lw-btn:last-child {
  border-radius: 0 0 4px 4px;
}

.lw-choose .lw-btn.lw-active {
  font-weight: 700;
  color: var(--theme-color);
}

.lw-field__wrap {
  -ms-flex: 0 0 calc(100% - 165px);
  flex: 0 0 calc(100% - 165px);
}

.lw-field__wrap_code {
  margin-right: -1px;
  -ms-flex: 0 0 74px;
  flex: 0 0 74px;
}

.lw-field__wrap_number {
  -ms-flex: 0 0 calc(100% - 73px);
  flex: 0 0 calc(100% - 73px);
}

.lw-field__label {
  margin-right: 20px;
  color: rgba(47,46,53,.7);
  -ms-flex: 0 0 145px;
  flex: 0 0 145px;
}

.lw-field__input,.lw-field__select {
  width: 100%;
  height: 46px;
  padding: 0 15px;
  border: 1px solid #EAEAEA;
  font-size: 18px;
}

.lw-field__input {
  font-weight: 600;
  color: #2F2E35;
}

.lw-field__input::-webkit-input-placeholder {
  font-weight: 400;
  color: rgba(47,46,53,.7);
}

.lw-field__input:-ms-input-placeholder {
  font-weight: 400;
  color: rgba(47,46,53,.7);
}

.lw-field__input::placeholder {
  font-weight: 400;
  color: rgba(47,46,53,.7);
}

.lw-field__input_radius {
  border-radius: 4px;
}

.lw-field__input_clear {
  background: 0 0;
  border: none;
}

.lw-field__input_subscribe_foot {
  height: 60px;
  padding: 0 20px;
  background: 0 0;
  border: none;
}

.lw-field__select {
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgMTAgNSI+ICA8cG9seWdvbiBmaWxsPSIjMUIxQjFEIiBwb2ludHM9IjQ5MyAyMiA0OTggMjcgNTAzIDIyIiBvcGFjaXR5PSIuNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ5MyAtMjIpIi8+PC9zdmc+);
  background-size: 10px 5px;
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #2F2E35;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.lw-field_inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.lw-field_inline:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.lw-field_inline .lw-field__input,.lw-field_inline .lw-field__select {
  padding: 0;
  border: none;
}

.lw-field_inline .lw-field__select {
  background-position: 100% 50%;
}

.lw-field_custom .lw-field__input {
  border-radius: 4px;
}

.lw-field_group .lw-field__wrap:not(:last-child) {
  margin-bottom: -1px;
}

.lw-field_group .lw-field__wrap:first-child .lw-field__input {
  border-radius: 4px 4px 0 0;
}

.lw-field_group .lw-field__wrap:last-child .lw-field__input {
  border-radius: 0 0 4px 4px;
}

.lw-field_phone,.lw-field_sign {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lw-field_sign .lw-field__wrap:first-child .lw-field__input {
  border-radius: 4px 4px 0 0;
}

.lw-field_sign .lw-field__wrap_wide {
  margin-bottom: -1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.lw-field_sign .lw-field__wrap_code .lw-field__select {
  border-radius: 0 0 0 4px;
}

.lw-field_sign .lw-field__wrap_number:last-child .lw-field__input {
  border-radius: 0 0 4px;
}

.lw-field_phone {
  margin-top: 22px;
}

.lw-field_phone .lw-field__wrap_code .lw-field__select {
  border-radius: 4px 0 0 4px;
}

.lw-field_phone .lw-field__wrap_number:last-child .lw-field__input {
  border-radius: 0 4px 4px 0;
}

.lw-app {
  background: #F9F9F9;
  border-radius: 6px;
}

.lw-app__head {
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.lw-app__preview {
  margin-right: 20px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

.lw-app__theme {
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.lw-app__wrap {
  padding: 20px;
  border: solid rgba(0,0,0,.06);
  border-width: 1px 0;
  background: #fff;
}

.lw-user__pic,.lw-user__status {
  border-radius: 50%;
}

.lw-panel_app,.lw-user {
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.lw-panel {
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex-align: center;
  align-items: center;
}

.lw-panel__preview {
  width: 62px;
  margin-right: 23px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex: 0 0 62px;
  flex: 0 0 62px;
}

.lw-panel__wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  margin-right: 20px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.lw-panel__btn {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.lw-panel__form {
  display: -ms-flexbox;
  display: flex;
}

.lw-panel__field {
  width: 283px;
  margin-right: 10px;
}

.lw-panel_arrow {
  position: relative;
  padding-right: 70px;
}

.lw-panel_arrow:after {
  position: absolute;
  top: calc(50% - 9px);
  right: 30px;
  width: 11px;
  height: 18px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDExIDE4Ij4gIDxwb2x5Z29uIGZpbGw9IiMyRjJFMzUiIHBvaW50cz0iNTAyIDUyLjg4NSA1MDguNzk5IDQ2IDUwMiAzOS4xMTUgNTA0LjA5MyAzNyA1MTMgNDYgNTA0LjA5MyA1NSIgb3BhY2l0eT0iLjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01MDIgLTM3KSIvPjwvc3ZnPg==);
  background-size: contain;
  background-repeat: no-repeat;
}

.lw-panel_with_btn {
  padding-right: 23px;
}

.lw-panel_with_btn .lw-panel__btn {
  min-width: 216px;
}

.lw-panel_app {
  padding: 20px;
}

.lw-panel_app .lw-panel__preview {
  height: 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

.lw-panel_wide {
  max-width: 1244px;
  margin: 0 auto;
  padding: 10px 72px;
}

.lw-panel_wide .lw-panel__btn {
  min-width: 122px;
}

.lw-user {
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
}

.lw-user__preview {
  position: relative;
  height: 45px;
  margin-right: 12px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
}

.lw-user__status {
  position: absolute;
  right: -1px;
  bottom: -3px;
  width: 14px;
  height: 14px;
  background: #03CA1F;
  border: 2px solid #fff;
}

.lw-user__wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.lw-user__name,.lw-user__text {
  font-size: 16px;
  line-height: 1.375;
}

.lw-user__name {
  font-weight: 600;
}

.lw-user__text {
  color: rgba(47,46,53,.7);
}

.lw-user_center {
  display: block;
  margin: -67px auto 30px;
  padding: 0;
  border: none;
  text-align: center;
}

.lw-user_center .lw-user__preview {
  width: 60px;
  height: 60px;
  margin: 0 auto 12px;
}

.lw-subscribe {
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 4px;
}

.lw-subscribe__field {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.lw-subscribe__btn {
  position: relative;
  height: 46px;
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  font-weight: 600;
  color: var(--theme-color);
}

.lw-subscribe__btn:before {
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  width: 1px;
  background: rgba(0,0,0,.06);
}

.lw-subscribe_foot {
  background: #F9F9F9;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid rgba(0,0,0,.06);
  box-shadow: none;
}

.lw-tools__btn,.lw-tools__group {
  box-shadow: 0 4px 6px 0 rgba(60,70,80,.1),0 1px 3px 0 rgba(0,0,0,.08);
}

.lw-subscribe_foot .lw-subscribe__btn {
  height: 60px;
  padding-right: 20px;
  border-radius: 0 0 6px;
}

.lw-subscribe_foot .lw-subscribe__btn:before {
  top: 15px;
  bottom: 15px;
}

.lw-tools {
  position: relative;
}

.lw-tools__btn {
  display: block;
  width: 70px;
  height: 70px;
  background: #FFF;
  border-radius: 6px;
  border: none;
  color: #546E7A;
}

.lw-tools__btn_green {
  background: #1CBD4B;
  color: #fff;
}

.lw-tools__icon {
  font-size: 24px;
}

.lw-tools__title {
  display: block;
  font-size: 12px;
  line-height: 1.66667;
}

.lw-tools__dropdown {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
}

.lw-tools__btn+.lw-tools__group {
  margin-top: 10px;
}

.lw-tools__group {
  border-radius: 6px;
  background: #fff;
}

.lw-tools__group .lw-tools__btn {
  border-radius: 0;
  box-shadow: none;
}

.lw-tools__group .lw-tools__btn:first-child {
  border-radius: 6px 6px 0 0;
}

.lw-tools__group .lw-tools__btn:last-child {
  border-radius: 0 0 6px 6px;
}

.lw-tools__group .lw-tools__btn:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.lw-powered {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: rgba(47,46,53,.5);
  text-align: center;
  line-height: 1.71429;
  opacity: 0;
  transition: opacity .2s;
}

.lw-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 13px);
  padding: 6px 9px;
  background: #fff;
  filter: drop-shadow(0 3px 5px rgba(71, 75, 86, .3));
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.25;
  white-space: nowrap;
  pointer-events: none;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.lw-tooltip:before {
  position: absolute;
  top: calc(50% - 6px);
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #fff;
}

.lw-item:hover .lw-hide {
  max-height: 500px;
  opacity: 1;
}

.lw-hide {
  max-height: 0;
  opacity: 0;
  transition: max-height .6s,opacity .6s;
  overflow: hidden;
}

.lw-hide .lw-wrap {
  padding-top: 0;
}

.lw-hide .lw-btn {
  transform: translate3d(0,0,0);
}

.lw-nav {
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 20px;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lw-menu,.lw-posts {
  margin-bottom: 32px;
}

.lw-nav__link {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  color: #2F2E35;
  transition: color .2s;
}

.lw-posts__title,.lw-tutorial__content a {
  font-weight: 600;
  color: var(--theme-color);
}

.lw-nav__link.active,.lw-nav__link:hover {
  color: var(--theme-color);
}

.lw-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lw-menu__link {
  font-size: 20px;
  color: rgba(47,46,53,.7);
  line-height: 1.65;
  transition: color .2s;
}

.lw-menu__link.active,.lw-menu__link:hover {
  color: var(--theme-color);
}

.lw-posts__item {
  display: block;
  margin-bottom: 18px;
  color: rgba(47,46,53,.7);
}

.lw-socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.lw-socials__item {
  margin-right: 25px;
  font-size: 0;
}

.lw-tutorial__content,.lw-tutorial__title {
  margin-bottom: 24px;
}

.lw-tutorial__content a {
  border: none;
}

.lw-tutorial__link {
  font-size: 14px;
  font-weight: 700;
  color: var(--theme-color);
  letter-spacing: .38px;
  text-transform: uppercase;
}

.lw-mb-sm {
  margin-bottom: 12px;
}

.lw-mb-def {
  margin-bottom: 21px;
}

.lw-mb-lg {
  margin-bottom: 40px;
}

@keyframes lw-ripple {
  0 {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0);
  }

  15% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes lw-bounce {
  0 {
    opacity: 0;
    transform: translate3d(0,0,-100px);
  }

  100%,50%,70% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0,0,2px);
  }
}

@keyframes lw-sidebar {
  0 {
    opacity: 0;
    transform: translate3d(100%,0,0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@media only screen and (max-width:1023px) {
  .lw-widget {
    pointer-events: all;
  }

  .lw-container_sticky .lw-close {
    top: 0;
    right: 0;
    width: auto;
    height: auto;
  }

  .lw-close {
    opacity: 1;
  }

  .lw-panel__field {
    width: 200px;
  }

  .lw-panel_wide {
    padding: 20px 30px;
  }

  .lw-tablet-hide {
    display: none!important;
  }
}

@media only screen and (max-width:767px) {
  .lw-field_inline,.lw-panel,.lw-panel__form {
    display: block;
  }

  .lw-container {
    width: calc(100% - 20px);
    margin: auto 10px 10px auto;
  }

  .lw-container_sm {
    max-width: 290px;
  }

  .lw-container_top {
    margin-top: 10px;
  }

  .lw-container_left {
    margin-left: 10px;
  }

  .lw-container_center_bottom {
    margin-bottom: 10px;
  }

  .lw-container_sticky {
    margin: auto 0 0;
  }

  .lw-container_sticky.lw-container_top {
    margin: 0 0 auto;
  }

  .lw-container_sidebar {
    margin: 0 0 0 auto;
  }

  .lw-container_mobile_left {
    margin: auto auto 10px 10px;
  }

  .lw-container_mobile_left .lw-drop {
    left: 0;
    right: auto;
  }

  .lw-container_mobile_left .lw-tooltip {
    left: calc(100% + 13px);
    right: auto;
  }

  .lw-container_mobile_left .lw-tooltip:before {
    right: auto;
    left: -5px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .lw-foot_three .lw-btn,.lw-foot_three .lw-btn:first-child {
    border-radius: 0;
  }

  .lw-foot_three .lw-btn:last-child {
    border-width: 1px 0 0;
    border-radius: 0 0 6px 6px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .lw-slider {
    padding: 0;
  }

  .lw-slider__dots {
    top: 0;
    margin: 30px 0 0;
  }

  .lw-opinion__vote {
    margin-top: -1px;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
  }

  .lw-opinion__vote:nth-child(3n) {
    -ms-flex: 0 0 33.34%;
    flex: 0 0 33.34%;
  }

  .lw-field__label {
    margin: 0 0 7px;
    font-size: 16px;
  }

  .lw-field_inline:not(:last-child) {
    margin-bottom: 15px;
    border: none;
  }

  .lw-field_inline .lw-field__input,.lw-field_inline .lw-field__select {
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
  }

  .lw-field_inline .lw-field__select {
    background-position: calc(100% - 15px) 50%;
  }

  .lw-panel {
    padding: 20px;
  }

  .lw-panel__preview {
    margin: 0 20px 20px 0;
  }

  .lw-panel__wrap {
    margin: 0 0 20px;
  }

  .lw-panel__field {
    width: 100%;
    margin: 0 0 10px;
  }

  .lw-panel_arrow {
    padding-right: 80px;
  }

  .lw-panel_arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 59px;
    bottom: 0;
    width: 1px;
    background: rgba(0,0,0,.06);
  }

  .lw-panel_arrow:after {
    right: 24px;
  }

  .lw-panel_arrow .lw-panel__wrap {
    margin: 0 20px 0 0;
  }

  .lw-panel_with_btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .lw-panel_with_btn .lw-panel__wrap {
    -ms-flex: 0 0 calc(100% - 82px);
    flex: 0 0 calc(100% - 82px);
  }

  .lw-panel_with_btn .lw-panel__btn {
    min-width: 100%;
  }

  .lw-panel_app .lw-panel__preview {
    height: 62px;
  }

  .lw-panel_app .lw-panel__wrap {
    margin: 0;
  }

  .lw-mobile-hide {
    display: none!important;
  }
}
